name: RELEASER

on:
  push:
    branches: [main]

jobs:
  Realeaser:
    runs-on: ubuntu-latest
    steps:
      - name: Checkout source code
        uses: actions/checkout@v4

      - name: Use NodeJS v16
        uses: actions/setup-node@v3
        with:
          node-version: 16

      - name: Install dependencies
        run: npm ci

      - name: Create new release
        env:
          GH_TOKEN: ${{secrets.GH_TOKEN}}
        run: npx semantic-release
